<!DOCTYPE html>
<html>
  <head>
    <title>ModernApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module", defer: true %>
  </head>
  <body>
    <section class="py-12 px-6">
      <%= render "layouts/nav" %>
      <div class="container mx-auto">
        <% if notice %>
          <p class="notice"><%= notice %></p>
        <% elsif alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
